---
import StandardNav from '../components/StandardNav';
import MainHead from './MainHead.astro';

interface Props {
    title?: string,
    description?: string
}
const { title="Default Title"} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">

    <MainHead title={title}/>
    <body style="background-color: pink">
        <!-- Slots are how I insert elements into templates  -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <StandardNav />
        <slot style="text-align: center"><p>Coming soon...</p></slot>
    </body>
</html>