
---
import MainLayout from "../layouts/MainLayout.astro";
---
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<MainLayout title="About The Website">
    <div class="bg-black">
        <p class="d-flex justify-content-center text-danger p-3" style="font-size: 50px">Site Made by Sonit Ambashta</p>
        <div style="list-style: upper-latin; background-color: magenta">
            <p class="d-flex justify-content-center p-4" style="font-size: 25px">This site is built using: </p>
            <ul class="d-flex m-auto" style="list-style: none">
                <li class="col-sm-2" style="font-size: 25px"><a href="https://www.w3schools.com/html/html_intro.asp" style="color: black">HTML</a></li>
                <li class="col-sm-2" style="font-size: 25px"><a href="https://www.w3schools.com/css/default.asp" style="color: black">CSS</a></li>
                <li class="col-sm-2" style="font-size: 25px"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" style="color: black">JavaScript and TypeScript</a></li>
                <li class="col-sm-2" style="font-size: 25px"><a href="https://getbootstrap.com/" style="color: black">Bootstrap</a></li>
                <li class="col-sm-2" style="font-size: 25px"><a href="https://react.dev/" style="color: black">React</a></li>
                <li class="col-sm-2" style="font-size: 25px"><a href="https://astro.build/" style="color: black">Astro</a></li>
            </ul>
        </div>
    </div>
</MainLayout>