---
import MainLayout from "../layouts/MainLayout.astro";
// index is the homepage
---
<!DOCTYPE html>
<MainLayout title="Guide">
	<h1 class="p-5 m-3 d-flex justify-content-center" style="font-size: 50px">Welcome to Kalyani</h1>
	<div class="container-sm justify-content-center bg-black p-5">
		<h1 class="text-light d-flex justify-content-center m-3 p-1"><a href="/about" class="btn btn-warning">The About Page</a></h1>
		<ul class="list-group">
			<li class="list-group-item">
				If you click the <b>About</b> page, then you should expect to see:
				<ul>
					<li>What is Kalyani?</li>
					<li>What do we do?</li>
					<li>Where does this organization see itself in the future</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="container-sm justify-content-center bg-black p-5">
		<h1 class="text-light d-flex justify-content-center m-3 p-1"><a href="/contacts" class="btn btn-warning">The Contacts Page</a></h1>
		<ul class="list-group">
			<li class="list-group-item">
				If you click the <b>Contacts</b> page, then you should expect to see
				two forms:
				<ul>
					<li>Questions and Feedback Form</li>
					<li>Mailing List Form</li>
				</ul>
			</li>
		</ul>
	</div>
	<div id="hover" class="container-sm justify-content-center bg-black p-5" onmouseenter="document.getElementById('hover').style.backGroundColor='gray'">
		<h1 class="text-light d-flex justify-content-center m-3 p-1"><a href="/asite" class="btn btn-warning">The About The Site Page</a></h1>
		<ul class="list-group">
			<li class="list-group-item">
				If you click the <b>About The Site</b> page, then you should expect to see:
				<ul>
					<li>Site Manufacturer</li>
					<li>Coding Languages and Frameworks Used</li>
				</ul>
			</li>
		</ul>
	</div>
</MainLayout>
