---
import MainLayout from "../layouts/MainLayout.astro";
// index is the homepage
---
<!DOCTYPE html>
<MainLayout title="Guide">
	<br><br><br>
	<div class="container-sm justify-content-center bg-danger p-5">
		<h1 class="text-light d-flex justify-content-center m-3 p-1"><a href="/about" class="btn btn-warning">The About Page</a></h1>
		<ul class="list-group">
			<li class="list-group-item bg-warning-subtle">
				If you hover (not click) the <b>About</b> page, you should
				see:
				<ul>
					<li>What is Kalyani?</li>
					<li>How was Kalyani Formed?</li>
					<li>Where Does Kalyani See Itself in the Future</li>
				</ul>
			</li>
			<li class="list-group-item">
				If you click the <b>About</b> page, then you should expect to see
				all the above content in that order.
			</li>
		</ul>
	</div>
	<div class="container-sm justify-content-center bg-danger p-5">
		<h1 class="text-light d-flex justify-content-center m-3 p-1"><a href="/team" class="btn btn-warning">The Team Page</a></h1>
		<ul class="list-group">
			<li class="list-group-item bg-warning-subtle">
				If you hover (not click) the <b>The Team</b> page, you should
				expect to see the website manufacturer.
			</li>
			<li class="list-group-item">
				If you click the <b>Team</b> page, then you should expect to see
				all the above content in that order.
			</li>
		</ul>
	</div>
	<div class="container-sm justify-content-center bg-danger p-5">
		<h1 class="text-light d-flex justify-content-center m-3 p-1"><a href="/highlights" class="btn btn-warning">The Highlights Page</a></h1>
		<ul class="list-group">
			<li class="list-group-item bg-warning-subtle">
				If you hover (not click) the <b>Highlights</b> page, you should
				see: 
				<ul>
					<li>Best Performance Moments</li>
					<li>Behind The Scenes</li>
				</ul>
			</li>
			<li class="list-group-item">
				If you click the <b>Highlights</b> page, then you should expect to see
				all the above content in that order.
			</li>
		</ul>
		<div class="container-sm justify-content-center bg-danger p-5">
		<h1 class="text-light d-flex justify-content-center m-3 p-1"><a href="/events" class="btn btn-warning">The Upcoming Events Page</a></h1>
		<ul class="list-group">
			<li class="list-group-item bg-warning-subtle">
				If you hover (not click) the <b>Upcoming</b> page, you should
				see: 
				<ul>
					<li>Best Performance Moments</li>
					<li>Behind The Scenes</li>
				</ul>
			</li>
			<li class="list-group-item">
				If you click the <b>Upcoming</b> page, then you should expect to see
				all the above content in that order.
			</li>
		</ul>
		</div>
		<div class="container-sm justify-content-center bg-danger p-5">
			<h1 class="text-light d-flex justify-content-center m-3 p-1"><a href="/alumni" class="btn btn-warning">The Notable Alumni Page</a></h1>
			<ul class="list-group">
				<li class="list-group-item bg-warning-subtle">
				If you hover (not click) the <b>Notable Alumni</b> page, you should
				see: 
				<ul>
					<li>Best Performance Moments</li>
					<li>Behind The Scenes</li>
				</ul>
				</li>
				<li class="list-group-item">
				If you click the <b>Notable Alumni</b> page, then you should expect to see
				all the above content in that order.
				</li>
			</ul>
		</div>
		<div class="container-sm justify-content-center bg-danger p-5">
			<h1 class="text-light d-flex justify-content-center m-3 p-1"><a href="/contacts" class="btn btn-warning">The Contacts Page</a></h1>
			<ul class="list-group">
				<li class="list-group-item bg-warning-subtle">
				If you hover (not click) the <b>Highlights</b> page, you should
				see: 
				<ul>
					<li>A form that allows</li>
					<li>Behind The Scenes</li>
				</ul>
				</li>
				<li class="list-group-item">
				If you click the <b>Contacts</b> page, then you should expect to see
				all the above content in that order.
				</li>
			</ul>
		</div>
</MainLayout>
