---
import MainLayout from "../layouts/MainLayout.astro";
// index is the homepage
---
<!DOCTYPE html>
<MainLayout title="Guide">
	<h1 class="p-5 d-flex justify-content-center" style="font-size: 50px; margin-top: 10px"><b>Welcome to Kalyani</b></h1>
	<div class="container-sm justify-content-center bg-black p-5 text-white">
		<ul>
			<li class="m-5">
				If you click the <b>About</b> page, then you should expect to see:
				<ul>
					<li>What is Kalyani?</li>
					<li>What Do We Do?</li>
				</ul>
			</li>
			<li class="m-5">
				If you click the <b>Contacts</b> page, then you should expect to see
				two forms:
				<ul>
					<li>Questions and Feedback Form</li>
					<li>Mailing List Form</li>
				</ul>
			</li>
			<li class="m-5">
				If you click the <b>About The Site</b> page, then you should expect to see:
				<ul>
					<li>Site Manufacturer</li>
					<li>Coding Languages and Frameworks Used</li>
				</ul>
			</li>
		</ul>
	</div>
	
</MainLayout>
